@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #DC2626; /* Red-600 */
  --color-primary-hover: #B91C1C; /* Red-700 */
}

@layer base {
  body {
    @apply font-sans bg-gray-50 text-gray-900;
  }
}

.sidebar-link-active {
  @apply bg-primary/10 text-primary border-r-4 border-primary;
}
